@charset "UTF-8";

/**
 * 
 * @title --
 * @authors goodliang
 * @date 2016-11-29 10:44:29
 * 
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.4;
}

img {
    vertical-align: top;
}

.text-justify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
}

.text-center {
    text-align: center;
}

.text-blue {
    color: #4a83ff;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

.f20 {
    font-size: 20px;
}

.container {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 15%;
    left: 10%;
    background: url(../img/border.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 5px;
    z-index: 9;
}

.hg-logo {
    position: absolute;
    top: 25px;
    left: 10%;
}

.hg-logo img {
    display: inline-block;
    max-width: 300px;
}

.ht-logo {
    position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
}

.ht-logo img {
    display: inline-block;
}

.pic-box {
    width: 100%;
    height: 100%;
    position: relative;
}

.avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #265484;
}

.avatar img {
    width: 100%;
}

#inner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: calc(100% - 68px);
}

#inner>div {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #a7d1e5;
    box-shadow: 0 0 5px #ccc;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.time-box {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 10;
    top: -130px;
}

.time-box .time {
    color: #efffff;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 55px;
    text-align: center;
    display: inline-block;
    background: url('../img/time-bg.png') 3px 0;
    -webkit-background-size: cover;
    background-size: cover;
}

.selcet-box {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 11px 0;
    /*box-shadow: 0 0 10px #ccc;*/
    vertical-align: middle;
    font-size: 18px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -webkit-ustify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.prize {
    width: 132px;
    height: 38px;
    background: url('../img/btn02.png');
    margin-left: 15px;
    cursor: pointer;
}

.record {
    width: 132px;
    height: 38px;
    background: url('../img/btn03.png');
    margin-left: 15px;
    cursor: pointer;
}


/*
.start.active {
    background: url('../img/btn01_on.png');
}
*/

.number-area {
    display: none;
    overflow: hidden;
    height: 38px;
    line-height: 38px;
    margin-left: 15px;
    vertical-align: top;
}

.number-area span {
    display: inline-block;
    height: 38px;
    font-weight: bold;
    /*padding: 0 5px;*/
    /*border-radius: 3px;
    background: #fff;*/
    color: #fff;
}

.number-area span em {
    font-style: normal;
}

.selcet-area {
    vertical-align: top;
}

.form-control {
    display: inline-block;
    min-width: 150px;
    height: 38px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#prize-select option {}

#prize-select option[disabled="disabled"] {}


/*暂停*/

.btn-group {
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: 15px;
}

.btn-ant {
    height: 240px;
    overflow: hidden;
    -webkit-transition: all .20s ease;
    -moz-transition: all .20s ease;
    -ms-transition: all .20s ease;
    -o-transition: all .20s ease;
    transition: all .20s ease;
}

.start {
    width: 120px;
    height: 120px;
    background: url('../img/start.png');
    background-size: cover;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
}

.btn-ant .start {
    display: block;
    margin-left: 0;
}

.stop {
    width: 120px;
    height: 120px;
    background: url('../img/stop.png');
    background-size: cover;
    display: block;
    cursor: pointer;
}


/*弹层*/

.bg-none {
    background: none !important;
}


/*.layer-box {
    width: 520px;
}*/

.layer-title {
    height: 20px;
    background: url('../img/lay_h.png');
}

.layer-body {
    margin-top: -11px;
    background: url('../img/lay_c.png') center repeat-y;
}

.layer-bottom {
    height: 21px;
    background: url('../img/lay_b.png');
}

.layer-body-content {
    overflow-y: auto;
    height: 100%;
    margin: 0 14px;
}

.layer-body-title {
    padding: 10px;
    font-weight: bold;
    color: #000;
}

.prize-pic {
    width: 80%;
    margin: 0 auto
}

.prize-pic img {
    width: 100%;
    padding: 30px 0;
}

.prize-text {
    text-align: center;
    font-size: 18px;
}

.winning-layer-wrap,
.record-layer-wrap,
.prize-layer-wrap {
    display: none;
}

.record-layer .layer-body-content {
    max-height: 560px;
    min-height: 300px;
}

.layui-layer-shade {
    background-image: url('../img/quan.png');
    background-repeat: no-repeat;
    background-position: center;
}


/*table*/

.table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    color: #666;
}

.table caption {
    background: #f3f4f8;
    padding: 10px;
}

.table .head {
    width: 50px;
}

.table>tbody>tr>td {
    padding: 5px 10px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}

.table>thead>tr>th {
    padding: 10px;
    color: #333;
    border-bottom: 2px solid #e1e1e1;
}

@keyframes changeL {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes changeL {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes changeR {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-webkit-keyframes changeR {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

.animated {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}


/**/

.bg-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*opacity: 0.9;*/
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#canvas {
    z-index: -1;
}

.leftBar {
    width: 300px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    text-align: center;
}

.winning-head img {}

.winning-head h4 {
    font-size: 30px;
    color: #fcde00;
}

.winning-box {
    width: 300px;
    height: 300px;
    margin: 20px atuo 0;
    background: url('../img/yuan02.png');
    background-size: cover;
    position: relative;
}

.winning-box .pic {
    position: absolute;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -120px;
    z-index: 1;
    -webkit-animation-name: changeL;
    animation-name: changeL
}

.winning-box .quan1 {
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -140px;
    z-index: 2;
    background: url('../img/yuan03.png');
    opacity: 0.8;
    background-size: cover;
    -webkit-animation-name: changeL;
    animation-name: changeL;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.winning-box .quan2 {
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -140px;
    margin-top: -140px;
    z-index: 3;
    background: url('../img/yuan04.png');
    background-size: cover;
    -webkit-animation-name: changeR;
    animation-name: changeR;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.main {
    float: left;
    margin-left: 360px;
    height: 100%;
    margin-top: 20px;
    margin-right: 20px;
}

.button-footer {
    width: 100%;
    height: 40%;
    position: relative;
}

.user-box {
    width: 100%;
    overflow-y: auto;
    height: 57%;
    padding-top: 10px;
}

.user-list h3 {
    height: 40px;
    line-height: 40px;
    background: #f3f4f8;
    font-size: 20px;
    font-weight: bold;
    text-indent: 20px;
    color: #67b784;
}

.avatar-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.avatar-list .avatar-box {
    width: 12.5%;
    padding: 0 10px;
    position: relative;
    margin-bottom: 15px;
}

.avatar-list .avatar-box img {
    width: 100%;
    border-radius: 100%;
}

.avatar-list .avatar-box .name {
    width: calc(100% - 20px);
    height: 100%;
    left: 10px;
    top: 0;
    border-radius: 100%;
    position: absolute;
    overflow: hidden;
}

.avatar-list .avatar-box p {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    line-height: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    font-size: 16px;
    color: #fcde00;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 20px;
}

#inner {
    display: none;
}
